@use "../variables" as var;
@use "../mixins";

/********** ABOUT CSS **********/

.about-container {
  display: flex;
  flex-direction: column;
  padding: 0 0.75em;
}

.about-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;

  @include mixins.mediaQuery(tablet) {
    padding: 0;
  }

  @include mixins.mediaQuery(desktop) {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 3em;
  }
}

.about-me-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2em;

  p {
    font-size: 0.825em;
    font-weight: 300;
    line-height: 25px;
    margin: 0;
  }

  .span1 {
    color: var.$primary-red;
  }

  .span2 {
    font-style: italic;
  }

  @include mixins.mediaQuery(desktop) {
    margin-right: 0.75em;
    margin-bottom: 0;
  }
}

.image-container {
  max-width: 425px;
  width: 100%;
  margin-bottom: 2.75em;

  span {
    border: 1px solid #cccccc !important;
  }

  @include mixins.mediaQuery(laptop) {
    max-height: 700px;
    margin-left: 0.75em;
    margin-bottom: 0;
  }
}

/********** SKILLSET CSS **********/

.skillset-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0.75em;

  ul {
    margin: 0;
    margin-bottom: 1.5em;
    padding-left: 2.15em;
  }

  li {
    list-style: none;
    font-family: var.$fira;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 30px;
  }

  @include mixins.mediaQuery(tablet) {
    padding: 0;
    padding-bottom: 1.5em;

    ul {
      margin: 0;
    }
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include mixins.mediaQuery(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  @include mixins.mediaQuery(laptop) {
    width: 90%;
  }
}

.skill-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 0.5em;
}

.skill {
  font-family: var.$fira;
  font-weight: 500;
  font-size: 1.25em;
}
