@use "../variables" as var;
@use "../mixins";

/********** ABOUT CSS **********/

.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.75em;

  p {
    color: var.$primary-font;
    font-family: var.$duru;
    font-weight: 300;
    font-size: 0.775em;
    letter-spacing: -0.5px;
    line-height: 25px;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  p span {
    color: var.$primary-red;
  }

  @include mixins.mediaQuery(tablet) {
    padding: 0;
  }

  @include mixins.mediaQuery(laptop) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.about-me-container {
  display: flex;
  flex-direction: column;
}

.image-container {
  max-width: 425px;
  margin-bottom: 2.75em;

  span {
    border: 1px solid #cccccc !important;
  }

  @include mixins.mediaQuery(laptop) {
    margin-left: 1.5em;
  }
}

/********** SKILLSET CSS **********/

.skillset-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0.75em;

  ul {
    margin: 0;
    margin-bottom: 1.5em;
    padding-left: 2em;
  }

  li {
    list-style: none;
    font-family: var.$fira;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 30px;
  }

  @include mixins.mediaQuery(tablet) {
    padding: 0;
    padding-bottom: 1.5em;

    ul {
      margin: 0;
    }
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include mixins.mediaQuery(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  @include mixins.mediaQuery(laptop) {
    width: 90%;
  }
}

.skill-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 0.5em;
}

.skill {
  font-family: var.$fira;
  font-weight: 500;
  font-size: 1.25em;
}
