@use "../variables" as var;

.contact-container {
  padding: 0 0.75em;
}

.message {
  font-family: var.$duru;
  font-size: 0.85em;
  letter-spacing: -0.5px;
  line-height: 25px;
}

.social-media {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
  }

  a:hover {
    color: var.$primary-red;
  }

  span {
    margin-left: 0.25em;
  }
}
