@use "../variables" as var;

.social-media {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
  }

  a:hover {
    color: var.$primary-red;
  }

  span {
    margin-left: 0.25em;
  }
}
