@use "../variables" as var;
@use "../mixins";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 25px;

  @include mixins.mediaQuery(tablet) {
    flex-direction: row-reverse;
    justify-content: space-between;

    padding: 0 2em;
  }
}

.copyright {
  font-weight: 300;
  font-size: 0.75em;
  margin-top: 0.5em;

  @include mixins.mediaQuery(tablet) {
    margin-top: 0;
  }
}
