@use "../mixins";
@use "../variables" as var;

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.25em;

  @include mixins.mediaQuery(tablet) {
    flex-direction: column;
    align-items: flex-start;
    padding: 2em 2.25em;
  }
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}

.logo {
  font-family: var.$kolker;
  font-size: 4.5em;
}

.links-container {
  width: 100%;
}

.nav-dropdown {
  cursor: pointer;

  @include mixins.mediaQuery(tablet) {
    display: none;
  }
}

.navbar-links {
  display: none;
  flex-direction: column;
  align-items: center;
  color: var.$primary-font;
  letter-spacing: 1px;
  font-size: 0.9em;

  a {
    padding: 0.75em 0;
  }

  :hover {
    color: var.$primary-red;
  }

  @include mixins.mediaQuery(tablet) {
    display: flex;
    align-items: flex-start;

    a {
      padding: 0.5em 0;
    }
  }
}

.open {
  display: flex;

  hr {
    width: 110%;
  }
}

.active {
  color: var.$primary-red;
}
