@use "../variables" as var;
@use "../mixins";

.card-container {
  display: flex;
  flex-direction: column;

  @include mixins.mediaQuery(laptop) {
    flex-direction: row;
  }
}

.image-container {
  position: relative;
  min-height: 400px;
  width: 100%;

  @include mixins.mediaQuery(laptop) {
    width: 50%;
  }
}

.info-container {
  padding: 2.25em;
  width: auto;

  a {
    display: block;
    width: fit-content;
  }

  a:hover {
    color: var.$primary-red;
  }

  @include mixins.mediaQuery(laptop) {
    width: 75%;
  }
}

.project-title {
  font-family: var.$roboto;
  font-size: 1.75em;
  font-weight: 300;
  margin: 0;
}

.project-description {
  font-family: var.$duru;
  font-size: 0.85em;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: -0.5px;
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: 1em;
  width: auto;
}

.project-tech {
  font-family: var.$duru;
  font-size: 0.85em;
  font-weight: 300;

  margin: 0;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  li {
    padding: 0;
    padding-right: 1.75em;
    line-height: 25px;
  }
}

.project-links {
  display: flex;
  font-family: var.$roboto;

  margin: 0;
  padding: 0;
  padding-top: 2.5em;
  list-style: none;
  text-decoration: underline;

  li {
    margin-right: 1em;
    cursor: pointer;
  }
}
