$primary-red: #cb2e2e;
$primary-font: #303030;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;

$fira: "Fira Sans", sans-serif;
$duru: "Duru Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$kolker: "Kolker Brush", cursive;
