@use "./variables" as var;
@use "./mixins";

/* Only put element selectors (e.g. nav) in here */
/* You can test classes in here, but have to move it to its respective module after. */

html,
body {
  padding: 0;
  margin: 0;
  color: var.$primary-font;
  font-family: var.$fira;
}

a {
  color: inherit;
  text-decoration: none;
}

.master-container {
  display: flex;
  flex-direction: column;
  /*padding: 2em 5em;*/
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;

  @include mixins.mediaQuery(mobile) {
    background-color: aqua;
  }
  @include mixins.mediaQuery(tablet) {
    background-color: green;
  }
  @include mixins.mediaQuery(laptop) {
    background-color: yellow;
  }
  @include mixins.mediaQuery(desktop) {
    background-color: rgb(230, 230, 230);
  }
}

/* move to Layout.module.scss */
.row-container {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  width: 100%;

  @include mixins.mediaQuery(tablet) {
    flex-direction: row;
  }
}

.navbar-container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  width: 100%;

  @include mixins.mediaQuery(tablet) {
    width: 25%;
  }
}

.content-container {
  width: 100%;
  @include mixins.mediaQuery(tablet) {
    width: 75%;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

hr {
  display: none;
  width: 100%;

  @include mixins.mediaQuery(laptop) {
    display: flex;
  }
}

nav {
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
